main {
  height: 100vh;
  width: 100vw;
  background-color: #ababab;
}

canvas {
  border: 2px solid black;
}

.options-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
}

p {
  border: 2px solid black;
  height: 1em;
  width: 1.5em;
  margin: 0.2em 1em;
  font-size: 3em;
  text-align: center;
}

#eraser {
  padding: 0.25em;
  font-size: 2em;
}

p:hover {
  cursor: pointer;
}

.canvas-color-options {
  display: flex;
  justify-content: center;
  column-gap: 1%;
}

.color-box {
  height: 0.3em;
  width: 0.6em;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}